{% extends "base/base.html" %}

{% block content %}

<p>This assisted annotation tool is in development. Currently, it supports the creation of new documents and annotation
that follows the format offered in FieldWorks Language Explorer.</p>

{% if user.is_authenticated %}
<p>You can view your list of projects <a href="{% url 'app:projects' %}">here</a>. <!-- (Probably that list should just show up here eventually.)--></p>
{% else %}
<p>You can <a href="{% url 'login' %}">log in</a> or you can contact Daniel at dangswan@iu.edu to ask for an account.</p>
{% endif %}

{% endblock %}
